In [1]:
%matplotlib inline
import pandas as pd
import boto3

In [2]:
%load_ext sql

In [12]:
import configparser

# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [ ]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(
    config.get("CLUSTER", "DWH_DB_USER"),
    config.get("CLUSTER", "DWH_DB_PASSWORD"),
    config.get("CLUSTER", "DWH_ENDPOINT"),
    config.get("CLUSTER", "DWH_PORT"),
    config.get("CLUSTER", "DWH_DB")
)
print(conn_string)
%sql $conn_string

# Sanity Checks

### Get Counts for Sanity Checks

In [30]:
%sql SELECT COUNT(*) FROM staging_pollution;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3438653,)]

In [31]:
%sql SELECT COUNT(*) FROM staging_metar;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(4533846,)]

In [32]:
%sql SELECT COUNT(*) FROM cities;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(147,)]

In [33]:
%sql SELECT COUNT(*) FROM facts;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1883527,)]

In [34]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(27713,)]

# Questions to ask

### What are the most polluted cities?

In [47]:
%%sql
SELECT city, pm25 FROM (
    SELECT city, AVG(PM25) AS PM25, COUNT(PM25) AS count
    FROM facts
    WHERE PM25 IS NOT NULL
    GROUP BY city
    ORDER BY PM25 DESC
)
WHERE count > 30 LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ghaziabad', 132),
 ('durgapur', 125),
 ('moradabad', 123),
 ('noida', 121),
 ('faridabad', 118),
 ('bhiwadi', 113),
 ('delhi', 113),
 ('baghpat', 110),
 ('lucknow', 109),
 ('bulandshahr', 108)]

### What are the most polluted states?

In [45]:
%%sql
SELECT state, AVG(PM25) AS PM25, AVG(PM10) AS PM10
FROM facts f
JOIN cities c ON (f.city = c.city)
GROUP BY state
ORDER BY PM25 DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('delhi', 113, 224),
 ('uttar pradesh', 107, 219),
 ('bihar', 94, 118),
 ('tripura', 80, 110),
 ('haryana', 75, 149)]

### Has pollution in the most polluted city varied over time?

In [27]:
%%sql
SELECT year, month, AVG(PM25) AS PM25, AVG(PM10) AS PM10
FROM facts f
JOIN time t ON (f.dt = t.dt)
WHERE city = 'ghaziabad'
GROUP BY year, month
ORDER BY year DESC, month DESC;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
40 rows affected.

[(2021, 3, 76, 208),
 (2021, 2, 149, 284),
 (2021, 1, 183, 283),
 (2020, 12, 184, 310),
 (2020, 11, 221, 361),
 (2020, 10, 138, 286),
 (2020, 9, 46, 117),
 (2020, 8, 23, 55),
 (2020, 7, 36, 78),
 (2020, 6, 48, 122),
 (2020, 5, 57, 141),
 (2020, 4, 46, 104),
 (2020, 3, 63, 124),
 (2020, 2, 120, 222),
 (2020, 1, 157, 244),
 (2019, 12, 183, 282),
 (2019, 11, 213, 334),
 (2019, 10, 121, 241),
 (2019, 9, 41, 98),
 (2019, 8, 35, 83),
 (2019, 7, 46, 150),
 (2019, 6, 57, 217),
 (2019, 5, 86, 256),
 (2019, 4, 85, 241),
 (2019, 3, 83, 184),
 (2019, 2, 124, 218),
 (2019, 1, 204, 332),
 (2018, 12, 235, 405),
 (2018, 11, 208, 370),
 (2018, 10, 144, 330),
 (2018, 9, 47, 123),
 (2018, 8, 47, 127),
 (2018, 7, 51, 104),
 (2018, 6, 98, 270),
 (2018, 5, 91, 229),
 (2018, 4, 91, 252),
 (2018, 3, 98, 207),
 (2018, 2, 134, 259),
 (2018, 1, 210, 338),
 (2017, 12, 210, 360)]

### is pollution linked to temperature in delhi?

On quick visual inspection it seems like pollution is liked to temperature

In [49]:
%%sql
SELECT year, month, AVG(PM25) AS PM25, AVG(temp) as temp
FROM facts f
JOIN time t ON (f.dt = t.dt)
WHERE city = 'delhi'
GROUP BY year, month
ORDER BY year DESC, month DESC;

 * postgresql://dwhuser:***@dwhcluster.cictjsloqqes.us-east-1.redshift.amazonaws.com:5439/dwh
40 rows affected.

[(2021, 3, 75, 21),
 (2021, 2, 151, 18),
 (2021, 1, 186, 12),
 (2020, 12, 187, 14),
 (2020, 11, 217, 18),
 (2020, 10, 143, 26),
 (2020, 9, 46, 30),
 (2020, 8, 27, 28),
 (2020, 7, 36, 31),
 (2020, 6, 48, None),
 (2020, 5, 57, 32),
 (2020, 4, 46, 28),
 (2020, 3, 63, 21),
 (2020, 2, 120, 16),
 (2020, 1, 159, 13),
 (2019, 12, 190, 13),
 (2019, 11, 206, 21),
 (2019, 10, 120, None),
 (2019, 9, 41, 29),
 (2019, 8, 36, None),
 (2019, 7, 46, 31),
 (2019, 6, 57, 35),
 (2019, 5, 85, 32),
 (2019, 4, 85, 30),
 (2019, 3, 83, 21),
 (2019, 2, 124, 16),
 (2019, 1, 205, None),
 (2018, 12, 236, 14),
 (2018, 11, 210, 20),
 (2018, 10, 143, None),
 (2018, 9, 47, 28),
 (2018, 8, 47, 30),
 (2018, 7, 51, 31),
 (2018, 6, 97, 34),
 (2018, 5, 91, None),
 (2018, 4, 91, None),
 (2018, 3, 98, 25),
 (2018, 2, 135, None),
 (2018, 1, 208, None),
 (2017, 12, 208, 15)]